@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

.app {
  min-height: 100vh;
  display: flex;
  background: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
